/* Styling for main  */
main{
    display: flex;
    flex-direction: column;
    background-color: #555b6e;
}

/* Header title  */
h1, p{
    text-align: center;
    font-family: 'Times New Roman, Times, serif';
    display: flex;
    flex-direction: column;
    
}

h1, h2{
    text-decoration: underline;
}

h1{
    color: white;
}

/* Hides the user information and form for user input */
.hidden{
    display: none;
}

/* Expands a container to show details of bm */
.expand{
    display: block;
    text-align: center;
}

  /* Contain each filter option  */
.container{
    border-style: solid;
    border-color: white;
    text-align: center;
    margin: 30px;
    padding: 15px; 
    background-color: #89b0ae;
}

/* Targets the individual bookmark containers */
.js-bookmark-item{
    background-color: #ffd6ba;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Styling for the bm info titles */
.infoTitles{
    font-size: large;
}

/* Styles the footer */
.footer{
    display: flex;
    flex-direction: column;
    background-color: #ffd6ba;
    font-size: large;
}


/* For desktop version */
@media all and (min-width:600px){

.js-bookmark-item{
    display: grid;
}

.container{
    padding: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

.js-bookmark-item{
    padding: 15px;
    margin-left: 100px;
    margin-right: 100px;
}

.infoTitles{
    font-size: 22px;
}

.bmInformation{
    font-size: 20px;
}

.footer{
    font-size: 30px;
}


}