main{
    display: flex;
    flex-direction: column;
}
/* Header title  */
h1, p{
    text-align: center;
    font-family: 'Times New Roman, Times, serif';
    display: flex;
    flex-direction: column;
}

/* Star rating css styling */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
  }


/* Contain each filter option  */
.container{
    border-style: solid;
    text-align: center;
    margin: 30px;
    padding: 15px; 
}

.footer{
    display: flex;
    flex-direction: column;
}